#player_screen{
    width: 640px;
    aspect-ratio: 2/1;
    background-color: rgb(0, 29, 0);
}

#d_pad{
    display: grid;
    grid-template-columns: 40px 25px 40px;
    grid-template-rows: 40px 25px 40px;
    grid-template-areas: " .  dir_up  . "
                         "dir_left  .  dir_right"
                         ".  dir_down  . ";
    gap: .5rem;
    margin-top: 1em;
}
#d_pad > div{
    background-color: black;
}

#dir_up{
    grid-area: dir_up;
}

#dir_left{
    grid-area: dir_left;
}

#dir_right{
    grid-area: dir_right;
}

#dir_down{
    grid-area: dir_down;
}

#start_select > div{
    background-color: gray;
    width: 35px;
    height: 15px;
    border-radius: 3px;
    display: inline-block;
    margin: 1em;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    gap: .5rem;
 


}

#buttons > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightskyblue;
    border-radius: 50%;

}